body{
    scroll-behavior: smooth;
    color: rgb(51, 51, 51);
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-text-color: rgb(51, 51, 51);
}
header{
    max-width: 1200px;
    margin: 50px auto 80px auto;
    padding-left: 15px;
    padding-right: 15px;
}
main{
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-text-color);
}
.primary-btn{
    background-color: rgb(207, 62, 111);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}



/* Header section starts here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
nav > h1{
    font-size: 1.5rem;
    font-weight: 700;
}
nav > ul{
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: absolute;
    right: 55px;
}
nav > ul > li{
    font-size: 1rem;
    font-weight: 600;
}
nav > i{
    font-size: 1.4rem;
}
.nav-icon{
    display: none;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-contents{
    max-width: 700px;
    padding-right: 40px;
}
.hero-contents > h1{
    font-size: 3rem;
    font-weight: 700;
}
.hero-contents > p{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 25px;
}
.hero-banner{
    max-width: fit-content;
    background: url(../assets/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-banner > img{
    max-width: 390px;
}
.hero-contents > button{
    border-radius: 20px;
}
/* Header section ends here */

/* Sponsor section starts here */
.sponsor-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px 55px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 30px 0;
    border-top: 1px solid rgba(153, 153, 153, 0.387);
    border-bottom: 1px solid rgba(153, 153, 153, 0.387);
}
/* Sponsor section ends here */

/* Collection section starts here */
.collection-container{
    margin-bottom: 80px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.collection-container > h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.collection-container > a{
    color: palevioletred;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
}
.card{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    box-shadow: -6px -3px 48px -4px rgba(219,219,219,1);
}
.collections{
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-info{
    width: 300px;
    margin: 0 auto;
}
.card-info > h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
}
.price{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.ratings{
    display: flex;
    align-items: center;
    gap: 5px;
}
.ratings > i{
    font-size: 0.65rem;
    color: orange;
}
.rating-point{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(122, 122, 122, 0.932);
}
.card-description{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(122, 122, 122, 0.932);
}
/* Collection section ends here */